/*ANCHOR --- Кастомизированный селект */
.select {
    position: relative;
    width: 187px;
    font-size: 17px;
    color: #000;
    margin-right: 20px;
}
.select select {
    display: none;
}
.select-selected {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: #000;
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
}
.select-selected {
    color: #000000;
    padding: 5px 16px;
    border: 0;
    cursor: pointer;
    width: 100%;
    color: #858585;
}
.select-items div {
    padding: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 2px;
}
.select-items div:hover,
.same-as-selected {
    background: #FAFDE8;
}
.select-items {
    position: absolute;
    padding: 8px;
    background-color:  #fff;
    top: 115%;
    left: 0;
    min-width: 230px;
    right: 0;
    z-index: 99;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(9, 60, 102, 0.1);
    border-radius: 8px;
}
.select-hide {
    display: none;
}
.select-selected.select-arrow-active {
    border-radius: var(--radius-1); 
}

.status {
    position: relative;
    padding-left: 25px!important;
}

.status:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);

}
.green:before {
    background: #22BB62;
}
.yellow:before {
    background: #FF9E0D;
}
.red:before {
    background: #FB5353;
}